@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: theme("fontFamily.sans");
}

@keyframes gradientRGB {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* Gradiente Animado para o Texto */
.bg-gradient-text {
  background: linear-gradient(90deg, #FCCB16, #F9A72B, #F97560, #F93839);
  background-size: 300% 300%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientRGB 6s ease infinite;
}

/* Gradiente para Botão */
.bg-gradient-btn {
  background: linear-gradient(90deg, #FCCB16, #F9A72B, #F97560, #F93839);
  background-size: 300% 300%;
  animation: gradientRGB 6s ease infinite;
  color: white;
}
.transition-partners-sobre {
  height: 120px; /* Aumentando um pouco para suavizar */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(20, 20, 20, 0.8) 30%, rgba(255, 255, 255, 0.1) 80%, rgba(255, 255, 255, 1) 100%);
}

@layer utilities {
  .bg-gradient-radial {
    background: radial-gradient(circle, var(--tw-gradient-stops));
  }
}
